$defatultFontSize: 16px;

$primary-color: #0098d3;
$primary-color-hover: #0280b3;

$font-grey-light: #e8e8e8;
$font-grey-dark: #000;

$background-dark: #000;
$background-dark-list: #070707;
$nav-background: #000;
$footer-background: #252527;

$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

$success: #84b84c;
$error: #f00;
